<!-- Extended 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}



{% block body %}
<h1>Welcome To Our Gif Search</h1>


        <!-- Made an HTML form containing a search box and a submit button to add
            the search term to the query string. The form has the target of '/' to
            send us to the same route. -->

        <form class="Search" action = "/">
          <input type="text" name="q" placeholder="Search">
          <button type="submit" class="button">Submit</button>
        </form>


        <!-- Made a for loop to loop over GIFs passed in from the server -->
        <ul>
        {% for gif in results %}
        <!--  For each gif, we include the 'gif.html' template to display it -->
          {% include 'gif.html' %}
        {% endfor %}
        </ul>

{% endblock %}
